:root {
  --color-black: #000;
  --color-pink: #ff64ae;
  --color-white: #ffffff;
  --color-text-default: #8b8b8b;
  --color-text-title: #091156;
  --color-text-hover: #ff64ae;
  --color-box-shadow: #f7f7ff;
  --color-transparent: transparent;
  --color-border-text: #d9ddfe;
  --color-text-input: #c5c5c5;
  --color-bgr-footer: #0d165c;
  --color-box-header: #80808070;
  --color-slider-btn: #eeeeee;
  --color-slider-btn-active: #414880;
}
