@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
	text-decoration: none;
	color: var(--color-text-default);
}

a:hover {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

a.active {
	color: var(--color-text-title) !important;
	font-weight: 700 !important;
}

a.active:hover {
	color: var(--color-text-hover) !important;
}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}